<div class="col-sm-4 offset-md-4" style="padding-top:80px">
  <h5 class="text-center">Sign Up </h5>
  {{#each message }}
   <div class="alert alert-danger" role="alert">
      <p>{{this}}</p>
  </diV>
    
  {{/each}}
  <form action="signup" method="POST">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" id="exampleInputEmail1" name="email" class="form-control" placeholder="Enter Your Email">
    </div>
    <div class="form-group">
      <label for="password"> Password</label>
      <input type="password" name="password" class="form-control" placeholder="Enter Your password">

    </div>
    <div class="form-group">
      <label for="confirm-password">Confirm-Password</label>
      <input type="password" name="confirm-password" class="form-control" placeholder="Re Enter your password">

    </div>
    <input type="hidden" name="_csrf" value="{{token}}">
    <button type="submit" class="btn btn-primary">SignUp</button>
  </form>
</div>