
.card img{
  max-width: 25%;
  max-height: 250px;
  padding-top: 10px;
}
.card .card-title{
  font-size: 20px;
}
.card .card-text{
  font-size: 15px;
}
.price {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}
.row {
 padding: 10px;
}